{% extends "layouts/page.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

{{ govukTable({
  caption: "Connection result",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Connection URL"
      },
      {
        text: checkResult.fullUrl
      }
    ],
   [
     {
       text: "Status Code"
     },
     {
       text: checkResult.status+" : "+checkResult.statusText
     }
   ],
    [
      {
        text: "Data"
      },
      {
        text: checkResult.dataTrim
      }
    ],
    [
      {
        text: "Error"
      },
      {
        text: checkResult.errorMessage
      }
    ],
     [
       {
         text: "Stack Trace"
       },
       {
         html: checkResult.stack
       }
     ],
     [
       {
         text: "Ping"
       },
       {
         html: checkResult.pingout
       }
     ],
          [
       {
         text: "Ping Error"
       },
       {
         html: checkResult.pingoutError
       }
     ],
     [
       {
         text: "Dig "
       },
       {
         html: checkResult.digout
       }
     ],
          [
       {
         text: "Dig Error "
       },
       {
         html: checkResult.digout
       }
     ],
     [
       {
         text: "Tracepath"
       },
       {
         html: checkResult.traceout
       }
     ],
          [
       {
         text: "Tracepath Error"
       },
       {
         html: checkResult.traceoutError
       }
     ],
     [
       {
         text: "Curl Result StdError"
       },
       {
         html: checkResult.curlResultError
       }
     ],
     [
       {
         text: "Curl Result"
       },
       {
         text: checkResult.curlResult.substring(0,300) + "...[snip]"
       }
     ]
  ]
}) }}

{% endblock %}

