{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Check Connectivity to Azure"
  }) }}

  <form method="get" action="/connectivity/connections" autocomplete="off" novalidate>
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "enabled",
  fieldset: {
    legend: {
      text: "Include checks?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all to run"
  },
  items: [
    {
      value: "fetch",
      text: "Fetch Test"
    },
    {
      value: "ping",
      text: "Ping Test"
    },
    {
      value: "dig",
      text: "Dig"
    },
    {
      value: "curl",
      text: "Curl"
    },
    {
      value: "nslookup",
      text: "NS Lookup"
    }
  ]
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Where?",
    classes: "govuk-label--l",
    isPageHeading: false
  },
  id: "where",
  name: "where"
}) }}

    {% call govukFieldset({
      legend: {
        text: "Select URL to test",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: false
      }
    }) %}
    {{ govukSelect({
      id: "resource",
      name: "resource",
      label: {
        text: "Connection URL"
      },
      items: urlList
    }) }}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Test Connection",
          classes: "govuk-button--primary",
          preventDoubleClick: true
        }) }}
      </div>
  {% endcall %}
</form>
<br>
{% endblock %}
